$text-black: #242424; //цвет основного черного текста 
$text-white:#FFFFFF; //цвет белого текста
$background-beige: #FAF7F5; //это цвет круга в Юлином блоке "Видеонаблюдение", в блоке "Страхи котовладельца" и "Адрес и контакты"
$text-color_number: #E36F96; //это цвет цифр в Юлином блоке "Видеонаблюдение"
$background-yellow: #FFFEF1; //цвет в блоке "заявка на бронирование" и второй блок "Важно"
$button-pink: #F6A6BF; //цвет кнопки в блоке Ники "Номера и цены", в блоке Алисы "Header Главная" и блоке Ксении "Заявка на бронирование"
$button-white: #FFFFFF; //цвет кнопки в блоке Ники "Номера и цены"
$arrow-pink: #F6A6BF; //цвет стрелки в блоке Ники "Фотогалерея"
$arrow-white: #FFFFFF; //цвет стрелки в блоке Ники "Фотогалерея"

/*пример вызова:
.class-name {
    color: $text-black;
} */