$text-black: #242424; //цвет основного черного текста 
$text-white:#FFFFFF; //цвет белого текста
$background-ellipse: #FAF7F5; //это цвет круга в Юлином блоке "видеонаблюдение"
$text-color_number: #E36F96; //это цвет цифр в Юлином блоке "видеонаблюдение"
$background-yellow: #FFFEF1; //цвет в блоке "заявка на бронирование" и второй блок "важно"
$background-beige:#FAF7F5; //цвет в блоке "Страхи котовладельца" и "Адрес и контакты"

/*пример вызова:
.class-name {
    color: $text-black;
} */