.address {
    display: grid;
    grid-template-columns: 12.5% 1fr 1fr 12.5%;
    color: $text-black;
    background-color: $background-beige;
    @extend %font-family;
    width: 100%;
    @media screen  and (max-width: 320px){
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }
}
.address__title {
    grid-area: 1/2/2/3;
    @extend %font-family-bold;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.7em;
    width: 100%;
    @media screen  and (max-width: 320px){
        font-size: 20px;
        line-height: 140%;
        margin: 1.5em 0 1.2em 0.4em;
    }
}
.address__name {
    grid-area: 2/2/3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    a{
        text-decoration: none;
        color: #848484;
    }
    @media screen  and (max-width: 1024px){
        display: flex;
        flex-direction: column;
    }
}
.address__name-address {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin: 15px 0 15px 0;
    @media screen  and (max-width: 1024px){
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        margin: 0 7.3em 0.5em 0.4em;
    }
    }
.address__name-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 15px auto 15px 90px;
    @media screen  and (max-width: 1024px){
        font-size: 16px;
        opacity: 0.5;
        margin: 0 0 1em 0.5em;
    }
}
.address__map {
    grid-area: 3/2/4/4;
    width: 75vw;//1200px;
    height: 31.25rem; //500px;
    margin: 0 auto;
    @media screen  and (max-width: 320px){
        max-width: 300px;
        max-height: 230px;
        margin: 0 0 0 5px;
    }
}
.address__route {
    grid-area: 4/2/5/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4em 0 4em 0;
    width: 100%;
    @media screen  and (max-width: 1024px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    @media screen  and (max-width: 320px){
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}
.address__how {
    display: flex;
    flex-direction: column;
    max-width: 236px;
    @media screen  and (max-width: 320px){
        margin: 0 0 1.2em -6px;
    }
}
.address__comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin: 10px 0 10px 18px;
    @media screen  and (max-width: 320px){
        margin: 1em 0.8em 1em 1em;
    }
}
.address__comment_bold{
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    margin: 10px;
    @media screen  and (max-width: 320px){
        font-size: 18px;
        font-weight: 400;
        margin: 2em 0 0 1em;
    }
}
.address__img-paw {
    align-self: center;
    width: 195px;
    height: 200px;
    flex-shrink: 0;
    @media screen  and (max-width: 1024px){
        display: none;
    }
}
.address__img {
    align-self: center;
    width: 200px;
    height: 210px;
    flex-shrink: 0;
    @media screen  and (max-width: 320px){
        max-width: 200px;
        max-height: 210px;
        margin: 0;
    }
}