.container {
    max-width: 1600px;
    margin: 0 auto;
    @extend %font-family;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    // display: flex;
    // flex-direction: column;
}

.header__logo-img {
    width: 187px;
    height: 36px;
}

.header__logo-text {
    color: #F6A6BF;
    font-size: 1em;
}

.header__info-data {
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: space-around;
    // gap:2.3em;
}

.header__info-data_text {
    font-size: 0.8em;
    @extend %font-family-bold;
}

.header__info-data_geo-location,
.header__info-data_clock,
.header__info-data_call,
.header__info-data_insta-img {
    width: 25px;
    height: 25px;
}

.header__info-data-btn_insta {
    // @extend %button;
    display: inline-block;
    color: #fff;
    font-size: 1.1em;
    background-color: #F6A6BF;
    text-decoration: none;
    border-radius: 100px;
    padding: 1rem 1.5rem;
}