.container {
    @extend %font-family;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.8em;
}
.header__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__img {
    max-width: 100%;
}
.header__logo-text {
    color: #F6A6BF;
    font-size: 1em;
}
.header__info-data{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap:2.3em;
}
.header__block{
    display: flex;
    padding-left: 0%;
}
.header__text {
    font-size: 0.8em;
    @extend %font-family-bold;
}
.header__geo-location,.header__clock ,.header__call,.header__insta-img {
    max-width: 100%;
}
.header__btn-insta{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1em;
    background-color: #F6A6BF;
    text-decoration: none;
    border-radius: 6.25em;
    padding:0.8em;
    border:1px solid #F6A6BF;
}
.header__btn-insta:hover{
    background-color: #fff;
    color:#F6A6BF;
}

.header__btn-insta:active{
    color:#7BCBE2;
}
// Стили для блока-№2 

.container-2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.second-header__img-block {
    position: relative;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.image {
    display: block;
    max-width:100%;
}
.link-1 {
    position: absolute;
    top: 33%;
    left: 0;
    width: 25%;
    height: 20%; 
    border-radius:100%;
}
.link-2{
    position: absolute;
    width: 25%;
    height: 20%;
    border-radius:100%;
    left:18%;
    top:12%;
}
.link-3{
    position: absolute;
    width: 25%; 
    height: 20%;
    border-radius:100%;
    left:47%;
    top:8%;
}
.link-4{
    position: absolute;
    width: 25%; 
    height: 20%;
    border-radius:100%;
    left:72%;
    top:23%;
}
.link-5{
    position: absolute;
    width: 30%; 
    height: 25%; 
    border-radius:100%;
    left: 35%;
    top:42%;
}
.img-2{
    max-width: 50%;
    margin-top: -20%;
}
.second-header__wrap-block{
    position:relative;
    max-width: 50%;
}
.second-header__h1{
    font-size:3em;
}
.second-header__main-text{
    font-size:1.1em;
}
.user-form{
    display:flex;
    flex-direction:column;
    width:30%;
    height:30%;
    @extend %font-family; 
    position: absolute;
    bottom:28%;
}
.input[type="text"], input[type="tel"] {
    border: none;
    border-bottom: 2px solid #848484;
    margin-top:1em;
}
.btn-send{
    // @extend %button-small; 
    width:100%;
    height:30%;
    background-color: #F6A6BF;
    color:#fff;
    border-radius: 6.25em;
    padding:0.8em;
    border:1px solid #F6A6BF;
    margin-top:1em;
    font-size:1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-send:hover{
    background-color: #fff;
    color:#F6A6BF;
}
.btn-send:active{
    color:#7BCBE2;
}
.img-cats{
    max-width:100%;
}
.second-header__small-img-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.paw-in-heart{
    width:2.8em;
    height:2.8em;
}
.second-header__block{
    display: flex;
    align-items: center;
}
.second-header__text{
    font-size: 1em;
}
.second-header__hidden-text{
    display: none;
}
// Все медиазапросы

@media (max-width:1150px) {
    .container,.second-header__small-img-block{
        justify-content: space-between;
    }
    .header__info-data{
        gap: 1.2em ;
    }
    .header__text {
        font-size: 0.6em;
    }
    .header__btn-insta{
        font-size: 0.8em;
        border-radius: 5em;
    }
    .container-2{
        justify-content: space-between;
    }
    .second-header__h1{
        padding: 10px;
        font-size: 2.5em;
    }
    .second-header__main-text{
        padding: 10px;
    }
    .user-form{
        bottom:20%;
    }
}
@media (max-width:960px){
    .second-header__h1{
        padding: 35px;
        font-size: 2em;
    }
    .user-form{
        bottom:15%;
    }
    .btn-send{
        margin-top:1em;
        font-size:0.8em;
    }
}
@media (max-width:820px){
    .container{
        flex-direction: column;
        padding: 0;
    }
    .second-header__wrap-block{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .second-header__text{
        font-size: 0.8em;
    }
    .user-form,.img-cats,.img-2{
        display: none;
    }
    .second-header__hidden-text{
        display: block;
        font-size: 1em;
    }
    .second-header__main-text{
        margin-top: 0;
    }
    .second-header__h1{
        font-size: 1.25em;
    }
    .link-1 {
        top: 45%;
    }
    .link-4{
        left:73%;
        top:29%;
    }
    .link-5{
        left: 38%;
        top:60%;
    }
}
@media (max-width:600px){
    .header__info-data{
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .header__block{
        flex-direction: column;
        align-items: center;
    }
    .header__geo-location,.header__clock ,.header__call,.header__insta-img {
        width: 22px;
        height: 22px;
    }
    .header__text{
        font-size: 0.8em;
    }
    .header__btn-insta{
        font-size: 1em;
    }
    .container-2{
        flex-direction: column;
        align-items: center;
    }
    .second-header__img-block,.second-header__wrap-block,.second-header__small-img-block{
        max-width: 100%;
    }
    .second-header__main-text,.second-header__hidden-text{
        font-size: 1.25em;
    }
    .second-header__h1,.second-header__main-text,.second-header__hidden-text{
        padding: 0.5em;
    }
    .second-header__wrap-block{
        align-items: flex-start;
    }
    .second-header__small-img-block{
        flex-direction: column;
        align-items: flex-start;
    }
    .second-header__block{
        gap:20px;
    }
}
