.important_last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 585px;
    margin: 90px 200px 0px 200px;
    background-color: #FFFEF1;
    /*border: 1px solid blue;*/
}
.picture-important_2 {
    width: 530px;
    height: 400px;
}
.text-important_2 {
    margin-left: 70px;
    width: 500px;
    height: 400px;
}
.h3 {
    width: 116px;
    height: 36px;
    margin-top: 100px;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.text {
    width: 472px;
    height: 132px;
    margin: 25px 150px 10px 0px;
    color: var(--, #242424);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}