.photogallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    @media screen and (min-width: 320px) and (max-width : 480px) {
        display: flex;
        max-width: max-content;
        gap: 1em;
        flex-direction: column;
        flex-wrap: nowrap;

        align-items: flex-start;
    }
}


.photogallery__title {
    margin-bottom: 3.125rem;
    margin-top: 10.625rem;
    @extend %font-family-bold;
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;

    @media screen and (min-width: 320px) and (max-width : 480px) {
        display: block;
        font-size: 20px;
        margin: 6.25vw 10.5vw 1.8vw 0.6vw;
    }
}

.photogallery__block {
    display: grid;
    grid-template-columns: 30rem 20.625rem 20.625rem;
    grid-template-rows: auto;
    gap: 1.875rem;
    margin: auto;
    width: 75rem;

    @media screen and (min-width: 320px) and (max-width : 480px) {
        display: block;
    }

    .photogallery__img-room-big {
        grid-row: span 3;
    }

    .photogallery__number {
        display: grid;
        grid-column: 2 / span 2;
        grid-row: 2;
        @extend %font-family;

        @media screen and (min-width: 320px) and (max-width : 480px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 16px;
            margin: 6vw 0.6vw 1.8vw 1vw;
        }
    }

    .photogallery__arrows {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 3;
        grid-auto-flow: column;
        justify-content: start;
        gap: 0.625rem;
        padding: 0px;
        margin-bottom: 0.625rem;

        @media screen and (min-width: 320px) and (max-width : 480px) {
            display: none;
        }

    }

    .photogallery__arrow-back,
    .photogallery__arrow-forward {
        display: inline-flex;
        position: relative;
        width: 4.375rem;
        height: 4.375rem;
        background-color: #F6A6BF;
        border-radius: 50%;
        cursor: pointer;
        left: 0px;
        top: 0px;
        border: 3px solid #F6A6BF;
        ;
    }

    .photogallery__arrow-back::before,
    .photogallery__arrow-forward::before {
        position: absolute;
        display: inline-flex;
        width: 1.375rem;
        height: 1.375rem;
        content: "";
    }

    .photogallery__arrow-back::before {
        top: 1.5rem;
        left: 1.625rem;
        border-top: 3px solid white;
        border-left: 3px solid white;
        transform: rotate(-45deg);
    }

    .photogallery__arrow-forward::before {
        top: 1.5rem;
        left: 1.125rem;
        border-top: 3px solid white;
        border-right: 3px solid white;
        transform: rotate(45deg);
    }

    /* Иземнение фона и цвета при наведении*/
    .photogallery__arrow-back:hover,
    .photogallery__arrow-forward:hover {
        background-color: white;
    }

    .photogallery__arrow-back:hover:before,
    .photogallery__arrow-forward:hover:before {
        border-color: pink;
    }

    @media screen and (min-width: 320px) and (max-width : 480px) {

        .photogallery__img-room-big,
        .photogallery__img-cat-paw,
        .photogallery__img-room {
            width: 15em;
            height: 16.5625em;
            display: block;
            justify-content: start;
            margin: 0px;
            padding-right: 0.9375em;
            float: left;
        }

        .photogallery__img-cat-paw {
            opacity: 0.7;
        }

        .photogallery__img-room {
            display: none;
        }
    }
}