.terms { 
    width: 100%;
}
.terms_of_placement {
    display: grid;
    width: 100%;
    /*height: 1463px; */
    margin: 0px 197px 0px 103px;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: repeat(4,250px) 1fr;
    justify-content: center;
    /* border: 1px solid blue; */
}
.fon_kitty {
    position: absolute;
    width: 627px; 
    height: 595px;
    margin-left: 18vw;
    z-index: -1;
    background-image: url(/hotel_for_cats/assets/icons/fon_print.svg);
.foot_print {
    margin: 100.18px 167.11px 152.85px 105.51px;
    }
}

.h1 {
    grid-area: 1/1/2/3;
    border-bottom: 3px solid #F6A6BF;
    p {
        font-size: 40px;
        @extend %font-family;
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
        margin: 122px 738px 70px 0;
    }
}
.inprice {
    border-bottom: 3px solid #F6A6BF;
}
.list_inprice {
    border-bottom: 3px solid #F6A6BF;
}
.recomm {
    border-bottom: 3px solid #F6A6BF;
}
.list_recomm {
    border-bottom: 3px solid #F6A6BF;
}
.food {
    border-bottom: 3px solid #F6A6BF;
}
.food_text {
    border-bottom: 3px solid #F6A6BF;
}

.title_inpice {
    margin-top: 30px;
    @extend %font-family-bold;
    font-size: 26px; 
    font-weight: 600;
}

.recomendations {
    margin-top: 30px;
    @extend %font-family-bold;
    font-size: 26px; 
    font-weight: 600;
}

.food_selection {
    margin-top: 30px;
    @extend %font-family-bold;
    font-size: 26px; 
    font-weight: 600;
}

.title_attantion {
    margin-top: 30px;
    @extend %font-family-bold;
    font-size: 26px; 
    font-weight: 600;
}

.li_1 {
    margin-top: 30px;
    @extend %font-family;
    font-size: 18px;
    font-weight: 400;
    li {
        margin-right: 210px;
        list-style-type: none;/*прячет разметку*/
        margin-bottom: 15px;
    }   
    li::before {
        color: #F6A6BF;
        content: "\25CF"; /*розовая точка спецсимвол*/
        padding-right: 10px;
    }
}

.li_2 {
    margin-top: 30px;
    @extend %font-family;
    font-size: 18px;
    font-weight: 400;
    li {
        margin-right: 210px;
        list-style-type: none;/*прячет разметку*/
        margin-bottom: 15px;
    }   
    li::before {
        color: #F6A6BF;
        content: "\25CF"; /*розовая точка спецсимвол*/
        padding-right: 10px;
    }
}
.li_3 {
    margin-top: 30px;
    @extend %font-family;
    font-size: 18px;
    font-weight: 400;
    li {
        margin-right: 210px;
        list-style-type: none;/*прячет разметку*/
        margin-bottom: 15px;
    }   
    li::before {
        color: #F6A6BF;
        content: "\25CF"; /*розовая точка спецсимвол*/
        padding-right: 10px;
    }
}

.notices_1 {
    margin: 1% 0;
    color: var(--, #242424);
    @extend %font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.notices_2 {
    margin-top: 1% 0;
    color: var(--, #242424);
    @extend %font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.text_recomm {
    width: 451.07px;
    height: 59.99px;
    margin-top: 30px;
    @extend %font-family;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.picture-important {
    align-content: center;
    justify-content: center;
}
.picture-important,
.important {
    width: 100%;
}

.booking_request {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    height: 694px;
    // margin: 140px 200px 0px 122px;
    /* border: 1px solid blue; */
}

.h2 {
    width: 100%;
    height: 49px;
    align-content: center;
    margin-left: 22vw; 
    @extend %font-family;
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0em;

}

.container_reserv {
    display: flex;
    flex-grow: 1;
}

.picture_reservation {
    justify-self: flex-start;
    align-self: flex-end;
    width: 625px;
    height: 595px;
}

.kitty {
    position: absolute;
    z-index: 1;
    margin: 145px 217px 235.35px 132px;
}

.fon_reservation {
    position: absolute;
    width: 625px;
    height: 595px;
    z-index: -1;
    background-image: url(/hotel_for_cats/assets/icons/fon_print.svg);
} 

.foot_print1 {
    margin: 170px 110px;
}

.reserv {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    grid-template-rows: repeat(5,max-content);
    justify-content: center;
    align-content: center;
    margin: 20px 0px 21px 44px;
    background-color: #FFFEF1;
    align-self: end;
    width: 609px;
    height: 554px;
    gap: 40px; 
}

/*.cont_mane,
.cont_phone,
.cont_checkin,
.cont_checkout,
.cont_petmane,
.cont_type {
    border: 1px solid black;
}*/

.cont_note {
    grid-area: 4/1/5/3;
}

input {
    border: none;
    background-color: #FFFEF1;
    border-bottom: 3px solid #F6A6BF;
}

.cont_button {
    grid-area: 5/1/6/3;
}

.reservation_button {
    width: 330px;
    height: 70px;
    border-radius: 100px;
    border: none;
    background-color: #F6A6BF;
    color: white;
    @extend %font-family;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
}

.reservation_button:active {
    background-color: rgb(235, 20, 88);
}

.input_note {
    width: 450px;
    min-height: max-content;
}
