@font-face {
    font-family: 'Montserrat', sans-serif;
    src:url(../../fonts/Montserrat-Regular.woff2) format('woff2'),
        url(../../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    src:url(../../fonts/Montserrat-Medium.woff2) format('woff2'),
        url(../../fonts/Montserrat-Medium.woff) format('woff');
}